根据某个特定的字段，进行分组

可以使用 `itertools.groupby()`函数对数据进行操作

In [1]:
rows = [
    {'address': '5412 N CLARK', 'date': '07/01/2012'},
    {'address': '5148 N CLARK', 'date': '07/04/2012'},
    {'address': '5800 E 58TH', 'date': '07/02/2012'},
    {'address': '2122 N CLARK', 'date': '07/03/2012'},
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
    {'address': '1060 W ADDISON', 'date': '07/02/2012'},
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [11]:
# 使用 date 字段进行排序

from operator import itemgetter
from itertools import groupby

# sort by desired fields first
# rows.sort(key=itemgetter('date'))


# iterate in groups
for date,items in groupby(rows,key=itemgetter('date')):
    print(date)
    for i in items:
        print(" ",i)

07/01/2012
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [16]:
from collections import defaultdict
rows_by_date = defaultdict(list)
for row in rows:
    rows_by_date[row['date']].append(row)

dict(rows_by_date)

{'07/01/2012': [{'address': '5412 N CLARK', 'date': '07/01/2012'},
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}],
 '07/02/2012': [{'address': '5800 E 58TH', 'date': '07/02/2012'},
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}],
 '07/03/2012': [{'address': '2122 N CLARK', 'date': '07/03/2012'}],
 '07/04/2012': [{'address': '5148 N CLARK', 'date': '07/04/2012'},
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}]}